name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: hw3-app

jobs:

  run-linter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2.5.0
    - name: Set up Python 3.10
      uses: actions/setup-python@v4.3.0
      with:
        python-version: '3.10'
    - name: Lint the project
      run: |
        pip install flake8
        flake8 .
    - name: Linting failed 
      if: ${{ failure() }}
      run: |
        echo kek

  run-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2.5.0
    - name: Set up Python 3.10
      uses: actions/setup-python@v4.3.0
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: |
        pip install pytest
        ls
        pytest tests/
    - name: Tests failed
      if: ${{ failure() }}
      run: |
        echo kek

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2.5.0
    - name: Build the Docker image
      run: docker build --tag ${{ env.IMAGE_NAME }}:${{ github.sha }} .
    - name: Run container
      run: |
        docker run -dti -p 8080:8080 --name hw3-app ${{ env.IMAGE_NAME }}:${{ github.sha }}
        docker ps
    - name: Request ping handler
      run: curl -i http://localhost:8080/ping
    - name: Stop container
      run: |
        docker stop hw3-app
        docker rm hw3-app
    - name: Build failed
      if: ${{ failure() }}
      run: |
        echo kek
