name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: hw3-app

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout the repository
      uses: actions/checkout@v2.5.0

    - name: Set up Python 3.10
      uses: actions/setup-python@v4.3.0
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint the project
      run: |
        pip install flake8
        flake8 internal/

    - name: Run tests
      run: |
        pip install pytest
        ls
        pytest internal/

    - name: Build the Docker image
      run: docker build --tag ${{ env.IMAGE_NAME }}:${{ github.sha }} .
